<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jo.multiapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />
    
    <uses-feature 
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >>     
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />>     
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="@string/app_namesettings" >
        </activity>
        <activity
            android:name="glowingSketchPad.ActivityOne"
            android:label="@string/app_name1" >
        </activity>
        <activity
            android:name="dancingBalls.ActivityTwo"
            android:label="@string/app_name2" >
        </activity>
        <activity
            android:name="discoLights.ActivityThree"
            android:label="@string/app_name3" >
        </activity>
        <activity
            android:name="ticTacToe.ActivityFour"
            android:label="@string/app_name4" >
        </activity>
        <activity
            android:name="other.ActivityFive"
            android:label="@string/app_name5" >
        </activity>
        <activity
            android:name="other.ActivitySix"
            android:label="@string/app_name6" >
        </activity>
        <activity
            android:name="dailySelfie.ActivitySeven"
            android:label="@string/app_name7" >
        </activity>
        <activity
            android:name="dailySelfie.ActivitySeven_PictureActivity"
            android:label="Selfie Preview" >
        </activity>
        <receiver 
            android:name="dailySelfie.ActivitySeven_AlarmSelfie">
        </receiver>
    </application>

</manifest>
